* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    min-height: 100vh;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

main {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.ctnr {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    padding: 35px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctnr h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin: 50px 0;
    font-weight: bold;
    letter-spacing: 2px;
}

.contributors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: calc(10px + 1vw);
    justify-items: center;
    align-items: center;
    width: 100%;
}

/* Contributor card Css */

.contributor-card {
    background: #ffffff;
    color: #333333;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.contributor-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.contributor-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    margin-bottom: 15px;
}

.contributor-card h3 {
    font-size: 1.4rem;
    margin: 10px 0;
}

.contributor-card a {
    display: inline-block;
    margin: 5px 0;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contributor-card a:hover {
    color: #004e64;
    text-decoration: none;
}

@media (min-width: 768px) {
    .contributors-grid {
        gap: calc(10px + 1.5vw);
    }
}